.alert.alert-dark.row.m-2.p-2
  nav(style="--bs-breadcrumb-divider: '>';", aria-label='breadcrumb')
    ol.breadcrumb.m-0.p-0
      li.breadcrumb-item
        a(href='/') Página Inicial
      each breadcrumb in breadcrumbs
        if (breadcrumb === breadcrumbs[breadcrumbs.length -1])
          li.breadcrumb-item.active(aria-current='page')
            = breadcrumb
        else 
          li.breadcrumb-item
            a(href=breadcrumb.path)= breadcrumb.name