.d-flex.flex-column.flex-shrink-0.p-3.bg-white(style='width: 280px;')
    a.d-flex.align-items-center.pb-3.link-dark.text-decoration-none(href='/')
        img.me-2.d-sm-none.d-lg-inline(src='/public/images/pokeball.svg', alt='Poquebola', width="24", height="24")
        span.fs-5.fw-semibold Pokédex
    form.d-flex.mb-3(id="search-form")
        input.form-control.me-2(type='search' placeholder='Nome ou id' aria-label='Pokémon', value='', id='search-bar')
        button.btn.btn-primary(type='submit', id='search-btn')
            i.bi.bi-search
    ul.list-unstyled.ps-0.border-top
        li.mb-1
            ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
                li
                    a.link-dark.rounded(href='/') Página Inicial
                li
                    - var rand = Math.floor(Math.random() * 898 + 1);
                    a.link-dark.rounded(href='/pokemons/pokemon?id='+rand) Pokémon aleatório
                li
                    a.link-dark.rounded(href="/pokemons?offset=0") Pokémons
                li
                    a.link-dark.rounded(href="/moves?offset=0") Movimentos
        li.mb-1
            button.btn.btn-toggle.align-items-center.rounded.collapsed(data-bs-toggle='collapse' data-bs-target='#generations-collapse' aria-expanded='false')
                | Gerações
            #generations-collapse.collapse
                ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
                    li
                        a.link-dark.rounded(href="/generation?id=1&limit=151&offset=0") 1º Geração: Região Kanto
                    li
                        a.link-dark.rounded(href="/generation?id=2&limit=100&offset=151") 2º Geração: Região Johto
                    li
                        a.link-dark.rounded(href="/generation?id=3&limit=135&offset=251") 3º Geração: Região Hoenn
                    li
                        a.link-dark.rounded(href="/generation?id=4&limit=107&offset=386") 4º Geração: Região Sinnoh
                    li
                        a.link-dark.rounded(href="/generation?id=5&limit=156&ffset=493") 5º Geração: Região Unova
                    li
                        a.link-dark.rounded(href="/generation?id=6&limit=72&offset=649") 6º Geração: Região Kalos
                    li
                        a.link-dark.rounded(href="/generation?id=7&limit=88&offset=721") 7º Geração: Região Alola
                    li
                        a.link-dark.rounded(href="/generation?id=8&limit=96&offset=809") 8º Geração: Região Galar

        li.mb-1
            button.btn.btn-toggle.align-items-center.rounded.collapsed(data-bs-toggle='collapse' data-bs-target='#types-collapse' aria-expanded='false')
                | Tipos
            #types-collapse.collapse
                ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
                    li
                        a.link-dark.rounded(href='/types/type?id=7') Bug
                    li
                        a.link-dark.rounded(href='/types/type?id=18') Dairy
                    li
                        a.link-dark.rounded(href='/types/type?id=17') Dark
                    li
                        a.link-dark.rounded(href='/types/type?id=16') Dragon
                    li
                        a.link-dark.rounded(href='/types/type?id=13') Electric
                    li
                        a.link-dark.rounded(href='/types/type?id=2') Fighting
                    li
                        a.link-dark.rounded(href='/types/type?id=10') Fire
                    li
                        a.link-dark.rounded(href='/types/type?id=3') Flying
                    li
                        a.link-dark.rounded(href='/types/type?id=8') Ghost
                    li
                        a.link-dark.rounded(href='/types/type?id=12') Grass
                    li
                        a.link-dark.rounded(href='/types/type?id=5') Ground
                    li
                        a.link-dark.rounded(href='/types/type?id=15') Ice
                    li
                        a.link-dark.rounded(href='/types/type?id=1') Normal
                    li
                        a.link-dark.rounded(href='/types/type?id=4') Poison
                    li
                        a.link-dark.rounded(href='/types/type?id=14') Psychic
                    li
                        a.link-dark.rounded(href='/types/type?id=6') Rock
                    li
                        a.link-dark.rounded(href='/types/type?id=10002') Shadow
                    li
                        a.link-dark.rounded(href='/types/type?id=9') Steel
                    li
                        a.link-dark.rounded(href='/types/type?id=10001') Unknown
                    li
                        a.link-dark.rounded(href='/types/type?id=11') Water   
        li.border-top.my-3
        li.mb-1
            button.btn.btn-toggle.align-items-center.rounded.collapsed(data-bs-toggle='collapse' data-bs-target='#account-collapse' aria-expanded='false')
                | Institucional
            #account-collapse.collapse
                ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
                    li
                        a.link-dark.rounded(href='/about') Sobre
                    li
                        a.link-dark.rounded(href='/references') Referências
        br
        |
        br
        |
        br
        |
        br
        |
        br
        |
        br
        |
        br
        |
        br
        |
        br
        |
        br
        |
        br
        |